#olde {
    width: 300px;
    height: 300px;
    background-color: blue;
    color: white;
    font-size: 50px;
    display: inline-block;
    margin-right: 50px;
}

#olde2 {
    width: 300px;
    height: 300px;
    background-color: tomato;
    color: white;
    font-size: 50px;
    display: inline-block;
    margin-right: 50px;
}

#olde3 {
    width: 300px;
    height: 300px;
    background-color: yellowgreen;
    color: white;
    font-size: 50px;
    display: inline-block;
    margin-right: 50px;
}